In [1]:
import pandas as pd

In [5]:
#1
df_titanic = pd.read_csv("/content/train.csv")

In [6]:
#2 na podstawie kolumnny "Sex" stworzyc nowa kolumne o nazwie "Sex2" w ktorej stworzyc nastepujace wartosci:
#dla female - cyfra 1 (int)
#dla male - cyfra 0 (int)

df_titanic['Sex2'] = df_titanic['Sex'].apply(lambda x: 1 if x == 'female' else 0)

# Wyświetlamy zaktualizowaną ramkę danych
print(df_titanic)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Sex2
0        0         A/5 21171   7.2500   NaN        S     0
1        0          PC 17599  71.2833   C85        C     1
2        0  STON/O2. 3101282   7.9250   NaN        S     1
3        0            113803  53.1000  C123        S     1
4        0            373450   8.0500   NaN        S     0
..     ...               ...      ...   ...      ...   ...
886      0            211536  13.0000   NaN        S     0
887      0            112053  30.0000   B42        S     1
888      2        W./C. 6607  23.4500   NaN        S     1
889      0            111369  30.0000  C148        C     0
890      0            370376   7.7500   NaN        Q     0

[891 rows x 13 columns]